/* responsive 1*/
@media screen and (max-width: 768px) {
    #head {
        width: 130%;
    }

    .emas {
        width: 1310px;
    }
    
    #kotak {
        width: 290%;
    }

    #kumpulan {
        width: 290%;
    }
    #anotherinformation {
        width: 175%;
        display: block;
        height: 2000px;
    }

    .another1 {
        width: 300px;
        flex-direction: column;
        display: flex;
    }

    .another2 {
        width: 300px;
    }

    .another3 {
        width: 300px;
    }

    #idk {
        height: 2100px;
        width: 470px;
    }

    .kotak1 {
        width: 400px;
        
    }

    #kotak-2 {
        width: 1500px;
    }

    .another1 {
        width: 500px;
    }

    .another1 li {
        font-size: 30px;
    }

    .another2 {
        width: 600px;
    }

    .another3 {
        width: 700px;
    }
    
    .kotak1 {
        height: 2000px;
    }

    .fotosekolah {
        display: block;
    }
}